body {
	margin: 0px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
}
h1 {
	margin: 0px; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);
}
h2 {
	margin: 0px; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);
}
td {
	color: rgb(51, 51, 51); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
tr {
	color: rgb(51, 51, 51); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
p {
	color: rgb(51, 51, 51); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
div {
	color: rgb(51, 51, 51); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
.ontab {
	border-width: 2px 2px 1px; border-style: outset outset solid; border-color: rgb(255, 153, 0) rgb(49, 101, 156) rgb(213, 213, 213) rgb(255, 153, 0); text-align: center; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(255, 174, 0);
}
.offtab {
	border-width: 2px 2px 1px; border-style: outset outset solid; border-color: rgb(224, 224, 224) rgb(224, 224, 224) rgb(213, 213, 213); text-align: center; font-weight: normal; background-color: rgb(229, 229, 229);
}
.tabpadding {
	
}
.tabheading {
	text-align: left; background-color: rgb(255, 174, 0);
}
.pagetext {
	top: 0px; display: none; visibility: hidden; position: relative;
}
a:link {
	color: rgb(128, 128, 128); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;
}
a:visited {
	color: rgb(128, 128, 128); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
a.contentpagetitle:link {
	text-align: left; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
a.contentpagetitle:visited {
	text-align: left; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
a.contentpagetitle:hover {
	text-align: left; color: rgb(255, 102, 0); font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-decoration: underline;
}
hr {
	background: rgb(192, 192, 192); border: 1px inset currentColor; height: 2px;
}
hr.separator {
	background: rgb(192, 192, 192); border: 0px currentColor; width: 75px; height: 1px;
}
a.mainmenu:link {
	color: black; padding-left: 6px; font-family: Arial, Helvetica, serif,Trebuchet MS, Verdana, Geneva; font-size: 12px; font-weight: normal; text-decoration: underline;
}
a.mainmenu:visited {
	color: black; padding-left: 6px; font-family: Arial, Helvetica, serif,Trebuchet MS, Verdana, Geneva; font-size: 12px; font-weight: normal; text-decoration: underline;
}
a.mainlevel:link {
	color: black; padding-left: 6px; font-family: Arial, Helvetica, serif,Trebuchet MS, Verdana, Geneva; font-size: 12px; font-weight: normal; text-decoration: underline;
}
a.mainlevel:visited {
	color: black; padding-left: 6px; font-family: Arial, Helvetica, serif,Trebuchet MS, Verdana, Geneva; font-size: 12px; font-weight: normal; text-decoration: underline;
}
a.mainmenu:hover {
	color: rgb(255, 153, 0); text-decoration: underline;
}
a.mainlevel:hover {
	color: rgb(255, 153, 0); text-decoration: underline;
}
a.sublevel:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
a.sublevel:link {
	color: rgb(0, 0, 192); font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif; font-weight: normal;
}
a.sublevel:visited {
	color: rgb(0, 0, 192); font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif; font-weight: normal;
}
.contentpane {
	background-color: rgb(255, 255, 255);
}
.contentpaneopen {
	border: 0px ridge rgb(220, 220, 220); padding-left: 20px;
}
.contentheading {
	text-align: left; color: rgb(51, 51, 51); font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
.contentpagetitle {
	text-align: left; color: rgb(51, 51, 51); font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
table.contenttoc {
	color: rgb(51, 51, 0); background-color: rgb(224, 224, 224);
}
table.contenttoc td {
	text-align: left; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal;
}
a.toclink:hover {
	font-size: 9px;
}
a.toclink:visited {
	font-size: 9px;
}
a.toclink:link {
	font-size: 9px;
}
.contentdescription {
	margin: 0px; text-align: left; color: rgb(128, 128, 128); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
.contentdescription p {
	margin: 0px; padding: 10px 0px; font-size: 11px;
}
a.blogsection:link {
	color: rgb(255, 153, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none;
}
a.blogsection:visited {
	color: rgb(255, 153, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none;
}
a.blogsection:hover {
	color: rgb(153, 153, 153); text-decoration: underline;
}
a.weblinks:link {
	color: rgb(255, 153, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none;
}
a.weblinks:visited {
	color: rgb(255, 153, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none;
}
a.weblinks:hover {
	color: rgb(153, 153, 153); text-decoration: underline;
}
a.readon:link {
	color: blue; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
a.readon:visited {
	color: blue; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
a.readon:hover {
	color: rgb(153, 153, 153); text-decoration: underline;
}
table.moduletable {
	margin: 0px; border: 0px solid rgb(0, 0, 0); width: 100%;
}
table.moduletable th {
	width: 100%; height: 18px; text-align: left; color: rgb(255, 255, 255); line-height: 18px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif,Trebuchet MS, Verdana; font-size: 12px; font-weight: bold; text-decoration: underline; white-space: nowrap; background-color: rgb(51, 102, 153);
}
table.moduletable td {
	padding-top: 2px; font-family: Arial, Helvetica, sans-serif,Trebuchet MS, Verdana; font-size: 12px; font-weight: normal;
}
table.moduletable_spaced {
	margin: 0px 0px 4px; border: 0px solid rgb(0, 0, 0); width: 100%;
}
table.moduletable_spaced th {
	width: 100%; height: 18px; text-align: left; color: rgb(255, 255, 255); line-height: 18px; padding-left: 1px; font-family: Arial, Helvetica, sans-serif,Trebuchet MS, Verdana; font-size: 12px; font-weight: bold; text-decoration: underline; white-space: nowrap; background-color: rgb(51, 102, 153);
}
table.moduletable_spaced td {
	padding-top: 2px; font-family: Arial, Helvetica, sans-serif,Trebuchet MS, Verdana; font-size: 12px; font-weight: normal;
}
.componentheading {
	text-align: left; color: rgb(51, 51, 51); font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
.button {
	border-width: 1px; color: rgb(0, 0, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold;
}
.inputbox {
	background: rgb(255, 255, 255); border: 1px solid currentColor; color: rgb(102, 102, 102); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
.category {
	color: rgb(153, 153, 153); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: none;
}
a.category:link {
	color: rgb(153, 153, 153); font-weight: bold;
}
a.category:visited {
	color: rgb(153, 153, 153); font-weight: bold;
}
a.category:hover {
	color: rgb(255, 153, 0);
}
.poll {
	color: rgb(102, 102, 102); line-height: 14px; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
}
.sectiontableentry1 {
	background-color: rgb(255, 255, 255);
}
.contentpane {
	background-color: rgb(255, 255, 255);
}
.sectiontableentry2 {
	background-color: rgb(235, 235, 235);
}
.sectiontableheader {
	color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(51, 102, 153);
}
.frontpageheader {
	color: rgb(0, 119, 170); font-size: 13px; font-weight: bold;
}
.small {
	color: rgb(255, 102, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
.smalldark {
	color: rgb(51, 51, 51); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
.newsfeedheading {
	text-align: left; color: rgb(51, 51, 51); font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
.newsfeeddate {
	color: rgb(255, 102, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;
}
.createdate {
	color: rgb(255, 102, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
.modifydate {
	color: rgb(128, 128, 128); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; text-decoration: none;
}
ul {
	list-style: inside; margin: 0px 0px 0px 35px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
.fase4rdf {
	color: rgb(0, 0, 0); font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
a.fase4rdf:link {
	color: rgb(255, 153, 0); font-size: 11px; font-weight: normal;
}
a.fase4rdf:hover {
	color: rgb(128, 128, 128); font-weight: bold;
}
table.searchintro {
	border: 1px solid rgb(119, 119, 119); background-color: rgb(255, 255, 255);
}
table.contact {
	background-color: rgb(255, 255, 255);
}
table.contact td.icons {
	background-color: rgb(198, 203, 206);
}
table.contact td.details {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; background-color: rgb(238, 238, 238);
}
.pagenav {
	color: rgb(56, 101, 147); font-weight: normal;
}
a.pagenav {
	color: rgb(255, 102, 0);
}
a.pagenav:visited {
	color: rgb(255, 102, 0);
}
a.pagenav:hover {
	color: rgb(56, 101, 147);
}
.pagenavbar {
	
}
.content_rating {
	padding-left: 20px; font-size: 8pt; font-weight: normal;
}
.content_vote {
	font-size: 8pt; font-weight: normal;
}
.moscode {
	background-color: rgb(240, 240, 240);
}
.message {
	text-align: center; color: rgb(255, 102, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;
}
