<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Bubble_Sort/src/Practice2/Cmd_Bubble_sort.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Practice2.Cmd_Bubble_sort"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="5 90 35 45 150 3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Bubble_Sort"/>
</launchConfiguration>
